{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
 {% block title %}logout{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Navbar</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">Hi ! {{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'password_change' %}">Change Password</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'edit' %}">Edit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'images:create' %}">create</a><br>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">login</a>
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
        {% endif %}

    </ul>
  </div>
</nav>

{% if messages %}
    <br>
    <div class="container">
    {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }} {% else %}warning {% endif %}  alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ message.tags }}!</strong> {{ message|safe }}
        </div>
    {% endfor %}
    </div>
{% endif %}
<div class="container">
  {% block account %}
    {% endblock %}
</div>

</body>
</html>
