{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Reset Password{% endblock %}
{% block content %}

<div class="container">
    <h4>RESET YOUR PASSWORD</h4>
    <hr>
{% if validlink %}
   <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">change</button>
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because i has already been user. Please request again to <a
            href="{% url 'password_reset' %}">reset</a></p>
{% endif %}

</div>

{% endblock %}

