{% load static %}
<!--
			=============================================
				Theme Header One
			==============================================
			-->
			<header class="header-one">
				<div class="top-header">
					<div class="container clearfix">
						<div class="logo float-left"><a href="{% url 'home' %}"><img src="{% static 'images/logo/leedslogo.png' %}" alt=""></a></div>
						<div class="address-wrapper float-right">
							<ul>
								<li class="address">
									<i class="icon flaticon-placeholder"></i>
									<h6>Address:</h6>
									<p>374 Easterly Road, Leeds, LS8 3AU</p>
								</li>
								<li class="address">
									<i class="icon flaticon-multimedia"></i>
									<h6>Email us:</h6>
									<p>info@leedsaccountants.net</p>
								</li>
								<li class="quotes"><a href="#">Consult us Now</a></li>
							</ul>
						</div> <!-- /.address-wrapper -->
					</div> <!-- /.container -->
				</div> <!-- /.top-header -->

				<div class="theme-menu-wrapper">
					<div class="container">
						<div class="bg-wrapper clearfix">
							<!-- ============== Menu Warpper ================ -->
					   		<div class="menu-wrapper float-left">
					   			<nav id="mega-menu-holder" class="clearfix">
								   <ul class="clearfix">
									    <li {% if activate == 'home' %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
									    <li {% if activate == 'services' %}class="active"{% endif %}><a href="{% url 'services' %}">Services</a>
{#									    	<ul class="dropdown">#}
{#									    		<li><a href="about.html">service one</a></li>#}
{#									            <li><a href="#">service two</a>#}
{#									    			<ul>#}
{#									    				<li><a href="#">Demo one</a></li>#}
{#									    				<li><a href="#">Demo two</a></li>#}
{#									    			</ul>#}
{#									    		</li>#}
{#									       </ul>#}
									    </li>
									    <li {% if activate == 'contact' %}class="active"{% endif %}><a href="{% url 'contact' %}">Contact Us</a></li>
{#									    <li {% if activate == 'blog' %}class="active"{% endif %}><a href="{% url 'blog' %}">Blog</a></li>#}
									    <li {% if activate == 'about' %}class="active"{% endif %}><a href="{% url 'about' %}">About US</a></li>
{#                                       <li {% if activate == 'faqs' %}class="active"{% endif %}><a href="{% url 'faqs' %}">Faqs</a></li>#}
								   </ul>
								</nav> <!-- /#mega-menu-holder -->
					   		</div> <!-- /.menu-wrapper -->

					   		<div class="right-widget float-right">
					   			<ul>
					   				<!--
					   				<li class="social-icon">
					   					<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
					   				</li>
					   				-->
					   				<li class="cart-icon">
					   					{% if True %}

                                            <li class="search-option user-profile">
					   					<div class="dropdown">
					   						<button type="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i></button>
											<div class="dropdown-menu">
												<div class="profile-menu">
                                                        <ul>
                                                           {% if user.is_authenticated %}
                                                                 <li><a href="{% url 'dashboard' %}"><i class="fa fa-user-circle"></i> Profile</a></li>
                                                                <li><a href="{% url 'password_change' %}"><i class="fa fa-lock"></i> Change Password</a></li>
                                                                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
                                                           {% else %}
                                                                <li><a href="{% url 'login' %}"><i class="fa fa-user-circle"></i> Login</a></li>
                                                                <li><a href="{% url 'logout' %}"><i class="fa fa-lock"></i> SignUp</a></li>
                                                           {% endif %}
                                                        </ul>
                                                </div>
											</div>
					   					</div>
					   				</li>
                                        {% else %}
                                            <a href="#">Login</a>
					   					{% endif %}

					   				</li>
					   				<li class="search-option">
					   					<div class="dropdown">
					   						<button type="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search" aria-hidden="true"></i></button>
											<form action="#" class="dropdown-menu">
												<input type="text" Placeholder="Enter Your Search">
												<button><i class="fa fa-search"></i></button>
											</form>
					   					</div>
					   				</li>
					   			</ul>
					   		</div> <!-- /.right-widget -->
						</div> <!-- /.bg-wrapper -->
					</div> <!-- /.container -->
				</div> <!-- /.theme-menu-wrapper -->
			</header> <!-- /.header-one -->