{% extends 'base.html' %}
{% load static %}
{% block title %}About Leeds Accountants | History to become a best accounting Firm in leeds. | {% endblock %}

{% block content %}

    	<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="theme-inner-banner section-spacing">
				<div class="overlay">
					<div class="container">
						<h2>ABOUT</h2>
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.theme-inner-banner -->


			<!--
			=============================================
				CallOut Banner
			==============================================
			-->
			<div class="callout-banner no-bg">
				<div class="container clearfix">
					<h3 class="title">High-Quality <br> Market Experience</h3>
					<p>We’re justifiably proud of the team we’ve built at <a href="{% url 'home' %}">Leeds Accountants</a>. Every single one of us shares the same values and Experiences for the sake of organization to be on the right way in market.</p>
					<a href="{% url 'contact' %}" class="theme-button-one">CONTACT US</a>
				</div>
			</div> <!-- /.callout-banner -->



			<!--
			=============================================
				About Company Stye Two
			==============================================
			-->
			<div class="about-compnay-two no-bg section-spacing">
				<div class="overlay">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-12 text order-lg-last">
								<div class="theme-title-one">
									<h2>SHORT HISTORY</h2>
								</div> <!-- /.theme-title-one -->
								<p>In January, the Leeds Accountants Company Accounting Oversight Board under Chairman Adil Mehmood (pictured) voted to propose requiring audit firms to disclose the name of the engagement partner and any other accounting firms that participated in an audit.</p>
								<p> The disclosure, which needs to be made on Form AP, was approved by the Securities and Exchange Commission in May.</p>
								<img src="{% static 'images/portfolio/accountant.jpg' %}" alt="" class="sign">
							</div> <!-- /.col- -->
							<div class="col-lg-6 col-12 order-lg-first">
								<img src="{% static 'images/portfolio/leed.jpg' %}" alt="" class="left-img">
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.about-compnay-two -->


			<!--
			=====================================================
				Why We Best
			=====================================================
			-->
			<div class="why-we-best">
				<div class="overlay">
					<div class="container">
						<div class="theme-title-one">
							<h2>WE ARE ALWAYS BEST</h2>
							<p>A tale of a fateful trip that started from this tropic port aboard this tiny ship today stillers</p>
						</div> <!-- /.theme-title-one -->

						<div class="wrapper row no-gutters">
							<div class="col-lg-6 col-12 order-lg-last"><div class="img-box"></div></div>
							<div class="col-lg-6 col-12 order-lg-first">
								<ul class="best-list-item">
									<li>
										<i class="icon flaticon-puzzle"></i>
										<h5><a href="#">Best Strategy</a></h5>
										<p>The Love Boat soon will be making another run plore strange tools enter new worlds.</p>
									</li>
									<li>
										<i class="icon flaticon-presentation"></i>
										<h5><a href="#">High-Quality Services</a></h5>
										<p>The Love Boat soon will be making another run plore strange tools enter new worlds.</p>
									</li>
									<li>
										<i class="icon flaticon-people"></i>
										<h5><a href="#">Friendly Support</a></h5>
										<p>The Love Boat soon will be making another run plore strange tools enter new worlds.</p>
									</li>
								</ul>
							</div> <!-- /.col- -->
						</div> <!-- /.wrapper -->
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.why-we-best -->


			<!--
			=====================================================
				Theme Counter
			=====================================================
			-->
			<div class="theme-counter-two section-spacing">
				<div class="container">
					<div class="clearfix">
						<div class="cunter-wrapper">
							<div class="row">
								<div class="col-md-3 col-6">
									<div class="single-counter-box">
				        				<div class="number"><span class="timer" data-from="0" data-to="30" data-speed="1200" data-refresh-interval="5">0</span>+</div>
				        				<p>Years of Excellence</p>
				        			</div> <!-- /.single-counter-box -->
								</div>  <!-- /.col- -->
								<div class="col-md-3 col-6">
									<div class="single-counter-box">
				        				<div class="number"><span class="timer" data-from="0" data-to="100" data-speed="1200" data-refresh-interval="5">0</span>%</div>
				        				<p>Client Satisfaction</p>
				        			</div> <!-- /.single-counter-box -->
								</div>  <!-- /.col- -->
								<div class="col-md-3 col-6">
									<div class="single-counter-box">
				        				<div class="number"><span class="timer" data-from="0" data-to="53" data-speed="1200" data-refresh-interval="5">0</span>k</div>
				        				<p>Cases Completed</p>
				        			</div> <!-- /.single-counter-box -->
								</div>  <!-- /.col- -->
								<div class="col-md-3 col-6">
									<div class="single-counter-box">
				        				<div class="number"><span class="timer" data-from="0" data-to="24" data-speed="1200" data-refresh-interval="5">0</span></div>
				        				<p>Consultants</p>
				        			</div> <!-- /.single-counter-box -->
								</div>  <!-- /.col- -->
							</div> <!-- /.row -->
						</div> <!-- /.cunter-wrapper -->
					</div> <!-- /.clearfix -->
				</div> <!-- /.container -->
			</div> <!-- /.theme-counter -->


			<!--
			=============================================
				Core Values
			==============================================
			-->
			<div class="core-values">
				<div class="container">
					<div class="theme-title-one">
						<h2>CORE VALUES</h2>
					</div> <!-- /.theme-title-one -->
					<div class="wrapper">
						<div class="core-value-slider">
							<div class="item">
								<div class="single-value-block">
									<div class="image-box">
										<img src="{% static 'images/portfolio/leed.jpg' %}" alt="">
										<div class="overlay"><a href="#" class="theme-button-one">READ MORE</a></div>
									</div> <!-- /.image-box -->
									<div class="text">
										<h5><a href="#">Challenging Staff</a></h5>
										<p>The Love Boat soon will be making other run plore strange tools.</p>
									</div> <!-- /.text -->
								</div> <!-- /.single-value-block -->
							</div> <!-- /.col- -->
							<div class="item">
								<div class="single-value-block">
									<div class="image-box">
										<img src="{% static 'images/portfolio/leed.jpg' %}" alt="">
										<div class="overlay"><a href="#" class="theme-button-one">READ MORE</a></div>
									</div> <!-- /.image-box -->
									<div class="text">
										<h5><a href="#">Integrity Properties</a></h5>
										<p>The Love Boat soon will be making other run plore strange tools.</p>
									</div> <!-- /.text -->
								</div> <!-- /.single-value-block -->
							</div> <!-- /.col- -->
							<div class="item">
								<div class="single-value-block">
									<div class="image-box">
										<img src="{% static 'images/portfolio/leed.jpg' %}" alt="">
										<div class="overlay"><a href="#" class="theme-button-one">READ MORE</a></div>
									</div> <!-- /.image-box -->
									<div class="text">
										<h5><a href="#">Innovation Solutions</a></h5>
										<p>The Love Boat soon will be making other run plore strange tools.</p>
									</div> <!-- /.text -->
								</div> <!-- /.single-value-block -->
							</div> <!-- /.col- -->
						</div> <!-- /.core-value-slider -->
					</div> <!-- /.wrapper -->
				</div> <!-- /.container -->
			</div> <!-- /.core-values -->
{% endblock %}