{% extends 'base.html' %}
{% load static %}
{% block title %}Faqs Leeds Accountants | Ask questions about accounting in uk, leeds. {% endblock %}
{% block content %}

    	<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="theme-inner-banner section-spacing">
				<div class="overlay">
					<div class="container">
						<h2>FAQ's</h2>
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.theme-inner-banner -->


			<!--
			=====================================================
				Faq Page
			=====================================================
			-->
			<div class="faq-page section-spacing">
				<div class="container">
					<div class="theme-title-one">
						<h2>FREQUENTLY ASKED QUESTIONS</h2>
						<p>A tale of a fateful trip that started from this tropic port aboard this tiny ship today stillers</p>
					</div> <!-- /.theme-title-one -->

	        		<div class="faq-panel">
						<div class="panel-group theme-accordion" id="accordion">
						  <div class="panel">
						    <div class="panel-heading active-panel">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
						        At Vero Eos Et Accusamus Et Iusto Odio Dignissimos ?</a>
						      </h6>
						    </div>
						    <div id="collapse1" class="panel-collapse collapse show">
						      <div class="panel-body">
						      	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
								<ol>
									<li>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorperadipiscing elit,</li>
									<li>sed diam nonummynibh  suscipit lobortis nisl ut aliquip ex.</li>
									<li>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et.</li>
								</ol>
								<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.
								vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 1 -->
						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
						        Vel illum dolore eu feugiat nulla facilisis at vero eros?</a>
						      </h6>
						    </div>
						    <div id="collapse2" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
								<ol>
									<li>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorperadipiscing elit,</li>
									<li>sed diam nonummynibh  suscipit lobortis nisl ut aliquip ex.</li>
									<li>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et.</li>
								</ol>
								<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.
								vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 2 -->
						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
						        Autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie?</a>
						      </h6>
						    </div>
						    <div id="collapse3" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
								<ol>
									<li>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorperadipiscing elit,</li>
									<li>sed diam nonummynibh  suscipit lobortis nisl ut aliquip ex.</li>
									<li>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et.</li>
								</ol>
								<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.
								vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 3 -->

						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
						        Ut wisi enim ad minim veniam, quis nostrud exerci tation?</a>
						      </h6>
						    </div>
						    <div id="collapse4" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
								<ol>
									<li>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorperadipiscing elit,</li>
									<li>sed diam nonummynibh  suscipit lobortis nisl ut aliquip ex.</li>
									<li>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et.</li>
								</ol>
								<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.
								vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 4 -->

						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
						        Accumsan et iusto odio dignissim qui blandit praesent?</a>
						      </h6>
						    </div>
						    <div id="collapse5" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
								<ol>
									<li>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorperadipiscing elit,</li>
									<li>sed diam nonummynibh  suscipit lobortis nisl ut aliquip ex.</li>
									<li>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et.</li>
								</ol>
								<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.
								vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 5 -->

						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
						        At Vero Eos Et Accusamus Et Iusto Odio Dignissimos?</a>
						      </h6>
						    </div>
						    <div id="collapse6" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
								<ol>
									<li>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorperadipiscing elit,</li>
									<li>sed diam nonummynibh  suscipit lobortis nisl ut aliquip ex.</li>
									<li>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et.</li>
								</ol>
								<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.
								vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 6 -->

						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
						        Dolore eu feugiat nulla facilisis at vero eros et accumsan?</a>
						      </h6>
						    </div>
						    <div id="collapse7" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
								<ol>
									<li>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorperadipiscing elit,</li>
									<li>sed diam nonummynibh  suscipit lobortis nisl ut aliquip ex.</li>
									<li>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et.</li>
								</ol>
								<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.
								vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 7 -->

						</div> <!-- end #accordion -->
					</div> <!-- /.faq-panel -->
				</div> <!-- /.container -->
			</div> <!-- /.faq-page -->



			<!--
			=====================================================
				Partner Slider
			=====================================================
			-->
			<div class="partner-section bg-color">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-4 col-12">
							<h6>OUR <br>PARTNERS</h6>
						</div>
						<div class="col-md-9 col-sm-8 col-12">
							<div class="partner-slider">
								<div class="item"><img src="{% static 'images/logo/p-1.png'%}" alt=""></div>
								<div class="item"><img src="{% static 'images/logo/p-1.png'%}" alt=""></div>
								<div class="item"><img src="{% static 'images/logo/p-1.png'%}" alt=""></div>
								<div class="item"><img src="{% static 'images/logo/p-1.png'%}" alt=""></div>
								<div class="item"><img src="{% static 'images/logo/p-1.png'%}" alt=""></div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /.partner-section -->


{% endblock %}